<html>
	<head>
		<title>Home</title>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$.get("http://localhost:3000/fetchStatus",function(res){
					$.each(res.message,function(index,value) {
						$("#showStatus").append('<li>'+value.user_status+'</li>');
					});
				});
				$("#addNewStatus").click(function(e){
					e.preventDefault();
					if($("#statusbox").text !== "") {
						$.post("/addStatus",{ status : $("#statusbox").val() },function(res){
							if(!res.error) {
								alert(res.message);
							}
						})
					}
				});
			});
		</script>
		</head>
	<body>
	<div>
		<p>Hi, you are login as <%= email %> (<a href="/logout/">Logout</a>)</p>
		<textarea rows="10" cols="5" id="statusbox"></textarea><br>
		<input type="submit" id="addNewStatus" value="Post"><br>
		<div id="showStatus">
		</div>
	</div>
	</body>
</html>
