<html>
<head>
<title>Home</title>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
$(document).ready(function(){
	$('#login-submit').click(function(e){
		$.post("http://localhost:3000/login",{ user_email : $("#username").val(), user_password : $("#password").val() },function(data){
			if(!data.error) {
				window.location.href = "/home";
			} else {
				alert("Error while processing");
			}
		});
	});
});
</script>
	</head>
	<body>
		<input type="text" id="username" placeholder="Email"><br>
		<input type="password" id="password" placeholder="Password"><br>
		<input type="button" id="login-submit" value="Log In">
				</div>
	</body>
</html>
